<section>

    <div class="header-container">
        <img src="../assets/img/spark-logo.svg" alt="logo">
        <ul class="nav">
            <li>Solution</li>
            <li>Industries</li>
            <li>Platform</li>
            <li>Resources</li>
            <li>Straive</li>
            <li id="demo">Schedule a demo</li>
        </ul>

    </div>
</section>


<section class="content-container">
    <img src="../assets/img/home-header-bg.svg" alt="">
    <div class="first-content">
        <h4>Unlocking Insights from Unstructured Data</h4>
    </div>
    <div class="second-content">
        <h4>One-stop data solution platform, addressing data acquisition, data quality, and the transformation of analytics-ready data.</h4>
    </div>
    

</section>

<section class="product-container">
<div class="product-content">
    <div class="card">
    <img src="../assets/img/window.svg" alt="window">
    <h4>Spiweb-Easily Extract Any Web Data</h4>
    <p>Quickly scrape web data with Low/No Code.Turn web Pages into structured data within clicks!!</p>
    </div>
</div>
</section>