/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: raleway-bold;
    src: url(assets/fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(assets/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Roboto-light;
    src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}

body{
    margin:0;
}